@font-face {
    font-family: 'ExistenceLight';
    src: url('../font/Existence-Light-webfont.eot');
    src: url('../font/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Existence-Light-webfont.woff') format('woff'),
         url('../font/Existence-Light-webfont.ttf') format('truetype'),
         url('../font/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}