<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TimeDo</title>
    <link rel="icon" href="fav.ico">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <!--<link href="css/site.css" media="all" rel="stylesheet" type="text/css">-->
    <link href="css/site.less" rel="stylesheet/less" type="text/css"/>
  </head>
  <body>

    <!-- Todo App Interface -->

    <div id="todoapp">
      <div class="content container">
      </div>
    </div>
    
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.1.15.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
    <script src="js/todos.js"></script>
    
    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header">
        <img src="images/icons/svg/retina.svg" alt="Retina">
      </header>
      <div class="todo-login">
        <form class="todo-login-form todo-form">
          <div class="error" style="display:none"></div>
          <div class="form-group">
            <input type="text" id="login-username" placeholder="Username" class="form-control login-field"/>
          </div>
          <div class="form-group">
            <input type="password" id="login-password" placeholder="Password" class="form-control login-field"/>
          </div>
          <button class="btn btn-primary btn-lg btn-block">Log In</button>
        </form>

        <form class="todo-signup-form todo-form">
          <div class="error" style="display:none"></div>
          <div class="form-group">
           <input type="text" id="signup-username" placeholder="Username" class="form-control login-field"/>
          </div>
          <div class="form-group">
            <input type="password" id="signup-password" placeholder="Create a Password" class="form-control login-field"/>
          </div>
          <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="manage-todos-template">

      <div class="section">

        <ul class="list-group" id="input">
          <li class="list-group-item">
              <div class="todo-play">
                  <span class="fui-time" id="clear-completed"></span>
              </div>
              <div class="todo-button todo-done">
                  <span class="fui-gear"></span>
              </div>
              <div class="todo-content">
                  <input type="text" placeholder="What needs to be done?" class="form-control flat todo-search-field" id="new-todo" />
                  <input type="text" placeholder="in ? mins" class="form-control flat todo-search-field" id="new-todo-time" />
              </div>
              <div class="clear"></div>               
          </li>
        </ul>
  
        <ul id="todo-list" class="list-group">
          <img src='images/spinner.gif' class='spinner' />
        </ul>

        <div id="todo-stats">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all">Mark all as complete</label>
        </div>
      </div>

      <div id="user-info">
        Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>
    </script>

    <script type="text/template" id="item-template">
      <div class="<%= done ? 'completed' : '' %> ">
            <div class="todo-button todo-play">
                <span class="fui-play"></span>
                <span class="fui-pause"></span>
                <span class="fui-cross"></span>
            </div>
            <div class="todo-button todo-done toggle">
                <span class="fui-check"></span>
            </div>
            <span class="badge">
              <span class="remain"><%= remainingTime %></span> 
              <span class="fui-plus"></span>
            </span>
            <div class="todo-content">
                <div class="todo-title">
                    <%= content %> <span class="fui-new"></span> <span class="fui-cross"></span>
                </div>
                <input type="text" value="<%= content %>" class="edit" />
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: <%= progress %>;"></div>
            </div>
            <div class="clear"></div>
        </div>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
	<span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="all" class="selected">All</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="active">Active</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="completed">Completed</a>
	  </li>
	</ul>
	<button id="">Clear completed (<%= done %>)</button>
      </footer>
    </script>

  </body>

</html>
