.clear{
	clear:both;
}

body {
	font-family: 'Lato', 'Hiragino Sans GB W3';
   position: relative;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

h1 {
	padding: 60px;
	text-align: center;
	color: #34495e;
	border-bottom: 3px #1abc9c solid;
	margin: 0 0 3px 0;
}

.shortcuts,
.designers {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 36px;
	letter-spacing: .33em;
}

.designers {
  letter-spacing: .37em;
}

.for {
  font-size: 24px;
  font-style:italic;
  font-family: 'Crimson Text', 'serif';
  position: relative;
  left: -6px;
}

.for:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 300px;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,0,0);
  z-index: -2;
}

.for:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,0,0);
  z-index: -1;
}

h1 span {
  font-family: 'Droid Serif';
  text-transform: lowercase;
  font-style:italic;
  letter-spacing: 0;
}

.section {
	border-top: 1px #1abc9c solid;
	border-bottom: 1px #1abc9c solid;
	margin-bottom: -1px;
	padding: 15px 0;
}

h2 {
	font-family: 'Montserrat';
	font-size: 18px;
	letter-spacing: 1px;
	color: #1abc9c;
	width: 147px;
	text-align: right;
	padding: 6px 15px 0 0;
	float: left;
	line-height: 24px;
}


ul {
	float:left;
	width: 1008px;
}

li {
	float: left;
}

.content a {
	text-decoration: none;
	display: block;
	width: 138px; 
	padding: 6px 15px;
}

.content a:hover{
	background-color: #ecf0f1;
}

h4 {
	color: #34495e;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 3px;
	float: left;
}

.price {
	font-family: 'Montserrat';
	float: left;
	font-size: 11px;
	margin: 4px 0 0 6px;
	color: #95a5a6;
	background-color: #fff;
	border: 1px #95a5a6 solid;
	padding: 2px 4px 1px 4px;
	-webkit-border-radius: 40px;
	border-radius: 40px;

}

p {
	color: #7f8c8d;
	font-size: 12px;
	line-height: 16px;
}

footer {
  font-size: 12px;
  color: #95a5a6;
  line-height: 80px;
  text-align: center;
  border-top: 3px #1abc9c solid;
  margin-top: 4px;
}

.cc { 
  float: left; 

}
.cc a,
.cc span { 
  color: #34495e; 
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
}

.marcom { float: right; }
.marcom a { margin: 0 4px; }

.about {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 40px;
  color: #ecf0f1;
  background-color: #34495e;
  display: none;
  z-index: 1;
}

.about h3 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  position: relative;
}

.btn-close {
  background: none;
  border: 0;
  font-size: 24px;
  color: #ecf0f1;
  transform: rotate(45deg);
  position: absolute;
  display: block;
  right: 0;
  top: 3px;
}

.about img {
  width: 120px;
  display: block;
  float: left;
  border-radius: 100px;
  margin: 0 20px 0 0;
}

.about-content {
  overflow: hidden;
}

.about p {
  font-size: 14px;
  color: #95a5a6;
  margin: 1em 0;
}

.about a { color: #ecf0f1; }