---
layout: category
title: Projects
permalink: /projects/
desc: A few selected case studies to show how I find scalable solutions to complicated design problems.
---

<div class="column column--trio--two">
	<p class="caption zeta category-name">Design Lead at Graphiq Inc.</p>
	<ul class="list">
	{% for post in site.categories.graphiq %}
		<li>
			<h3>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
				<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}">&rarr;</a>
			</h3>
			<p>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{post.url}}">{{ post.desc }}</a>
			</p>
			{% if post.tags %}
			<p>
				{% for tag in post.tags %}
					{% if tag != post.tags.last %}
					<span class="caption">{{ tag }},</span>
					{% else %}
					<span class="caption">{{ tag }}</span>
					{% endif %}
				{% endfor %}
			</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>

	<hr>
	
	<p class="caption zeta category-name">Side Projects</p>
	<ul class="list">
		<li>
			<h3>
				<a class="no-underline no-color" href="https://devpost.com/software/memories-2u9xkn" target="_blank">Memories</a> 
				<a class="no-underline" href="https://devpost.com/software/memories-2u9xkn" target="_blank">&rarr;</a>
			</h3>
			<p>
				A VR-simulated AR experience where people can re-engage with their photogrammertry memories. Winning project for the content production category at the <a href="https://www.creatingrealityhack.com/winners#block-yui_3_17_2_1_1521732731187_160301" target="_blank">2018 Creating Reality Hackathon</a>.
			</p>
			<p>
				<span class="caption">VR, AR, Hackathon, 3D Modeling, Unity, Blender</span>
			</p>
		</li>
	{% for post in site.categories.side %}
		<li>
			<h3>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
				<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}">&rarr;</a>
			</h3>
			<p>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{post.url}}">{{ post.desc }}</a>
			</p>
			{% if post.tags %}
			<p>
				{% for tag in post.tags %}
					{% if tag != post.tags.last %}
					<span class="caption">{{ tag }},</span>
					{% else %}
					<span class="caption">{{ tag }}</span>
					{% endif %}
				{% endfor %}
			</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>



