---
layout: writing
title: Writing
ogtitle: Writing - Samantha Zhang
desc: Writing is the best way to communicate ideas and organize thoughts. I try to find a healthy balance writing about both data design and everything else.
permalink: /writing/
---

<div class="section">
	<div class="column column--trio--two">
		<h1 class="mega">{{ page.title }}</h1>
		<p>Before we all get connected by Neuralink, writing is arguably the best way to communicate ideas and organize thoughts.</p>
	</div>
</div>

<div class="section">
	<div class="column column--duo">
		<h2 class="caption zeta category-name">More Serious Writing on Design</h2>
		<ul class="list">
			{% for post in site.categories.articles %}
			<li>
				<h3>
					<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}">{{ post.ogtitle }}</a>&nbsp;<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}">&rarr;</a>
				</h3>
				<p>
					<a class="no-underline no-color" href="{{ site.baseurl }}{{post.url}}">{{ post.desc }}</a>
					<br/>
					<span class="caption">
						{{ post.date | date: '%B %d, %Y' }}
						{% for tag in post.tags %}
						 · {{ tag }}
						{% endfor %}
					</span>
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="column column--duo">
		<h2 class="caption zeta category-name">& Everything Else</h2>
		<ul class="list">
			{% for post in site.categories.blog %}
			<li>
				<h6>
					<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}" {% if post.redirect_to %} target="_blank" {% endif %}>
						{{ post.ogtitle }}
						{% if post.redirect_to %}
							@ {{ post.redirect_source }}
						{% endif %}
					</a>
					{% if post.redirect_to %}
					<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}" target="_blank">&nearr;</a>
					{% endif %}
				</h6>
				<p>
					<span class="caption">
						<a class="no-underline no-hover" href="{{ site.baseurl }}{{ post.url }}">
						{{ post.date | date: '%B %d, %Y' }}
						{% for tag in post.tags %}
						 · {{ tag }}
						{% endfor %}
						</a>
					</span>
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>