---
layout: category
title: Projects
ogtitle: Projects - Samantha Zhang
permalink: /projects/
desc: How I design delightful and scalable experiences to solve complicated user problems.
---

<div class="column column--trio--two">
	<p class="caption zeta category-name" id="agave">Co-founder at Agave</p>
	<ul class="list">
	{% for post in site.categories.agave %}
		<li>
			<h3>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
				<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}">&rarr;</a>
			</h3>
			<p>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{post.url}}">{{ post.desc }}</a>
			</p>
			<p>
				{% if post.tags %}
				{% for tag in post.tags %}
					{% if tag != post.tags.last %}
					<span class="caption">{{ tag }},</span>
					{% else %}
					<span class="caption">{{ tag }}</span>
					{% endif %}
				{% endfor %}
				{% endif %}
			</p>
		</li>
	{% endfor %}
	</ul>
	<hr>
	<p class="caption zeta category-name" id="alexa">Sr. UX Designer at Alexa Knowledge</p>
	<ul class="list">
	{% for post in site.categories.alexa %}
		<li>
			<h3>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
				<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}">&rarr;</a>
			</h3>
			<p>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{post.url}}">{{ post.desc }}</a>
			</p>
			<p>
				{% if post.tags %}
				{% for tag in post.tags %}
					{% if tag != post.tags.last %}
					<span class="caption">{{ tag }},</span>
					{% else %}
					<span class="caption">{{ tag }}</span>
					{% endif %}
				{% endfor %}
				{% endif %}
			</p>
		</li>
	{% endfor %}
	</ul>
	<hr>
	<p class="caption zeta category-name" id="graphiq">Design Lead at Graphiq Inc.</p>
	<ul class="list">
	{% for post in site.categories.graphiq %}
		<li>
			<h3>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
				<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}">&rarr;</a>
			</h3>
			<p>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{post.url}}">{{ post.desc }}</a>
			</p>
			<p>
				{% if post.tags %}
				{% for tag in post.tags %}
					{% if tag != post.tags.last %}
					<span class="caption">{{ tag }},</span>
					{% else %}
					<span class="caption">{{ tag }}</span>
					{% endif %}
				{% endfor %}
				{% endif %}
			</p>
		</li>
	{% endfor %}
	</ul>

	<hr>
	
	<p class="caption zeta category-name" id="side-projects">Side Projects</p>
	<ul class="list">
	{% for post in site.categories.side %}
		<li>
			<h3>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{ post.url }}" {% if post.redirect_to %} target="_blank" {% endif %}>{{ post.title }}</a> 
				<a class="no-underline" href="{{ site.baseurl }}{{ post.url }}" {% if post.redirect_to %} target="_blank" {% endif %}>
					{% if post.redirect_to %}
					&nearr;
					{% else %}
					&rarr;
					{% endif%}
				</a>
			</h3>
			<p>
				<a class="no-underline no-color" href="{{ site.baseurl }}{{post.url}}">{{ post.desc }}</a>
			</p>
			{% if post.tags %}
			<p>
				{% for tag in post.tags %}
					{% if tag != post.tags.last %}
					<span class="caption">{{ tag }},</span>
					{% else %}
					<span class="caption">{{ tag }}</span>
					{% endif %}
				{% endfor %}
			</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>



