@font-face {
  font-family: 'ftbicon';
  src: url('../font/ftbicon.svg?1820196#ftbicon') format('svg');
/*  src: url('../font/ftbicon.eot?1820196#iefix') format('embedded-opentype'),
       url('../font/ftbicon.woff?1820196') format('woff'),
       url('../font/ftbicon.ttf?1820196') format('truetype'),
       url('../font/ftbicon.svg?1820196#ftbicon') format('svg');*/
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ftbicon';
    src: url('../font/ftbicon.svg?1820196#ftbicon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before,
 [class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: "ftbicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sort-h-right:before { content: '\e800'; } /* '' */
.icon-layers:before { content: '\e84e'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-assist:before { content: '\e80d'; } /* '' */
.icon-txt-best:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-map:before { content: '\e814'; } /* '' */
.icon-guide:before { content: '\e819'; } /* '' */
.icon-chart:before { content: '\e81a'; } /* '' */
.icon-badge:before { content: '\e81f'; } /* '' */
.icon-compare:before { content: '\e820'; } /* '' */
.icon-embed:before { content: '\e825'; } /* '' */
.icon-share:before { content: '\e826'; } /* '' */
.icon-education:before { content: '\e837'; } /* '' */
.icon-electronics:before { content: '\e838'; } /* '' */
.icon-txt-data:before { content: '\e83d'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-business:before { content: '\e806'; } /* '' */
.icon-sort-v:before { content: '\e812'; } /* '' */
.icon-send:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e818'; } /* '' */
.icon-sort-h-left:before { content: '\e81b'; } /* '' */
.icon-add-circle:before { content: '\e81e'; } /* '' */
.icon-bookmark:before { content: '\e821'; } /* '' */
.icon-ftb:before { content: '\e824'; } /* '' */
.icon-star-1:before { content: '\e849'; } /* '' */
.icon-report:before { content: '\e82a'; } /* '' */
.icon-review:before { content: '\e82d'; } /* '' */
.icon-heart:before { content: '\e830'; } /* '' */
.icon-family:before { content: '\e833'; } /* '' */
.icon-health:before { content: '\e836'; } /* '' */
.icon-txt-findthe:before { content: '\e839'; } /* '' */
.icon-motors:before { content: '\e83c'; } /* '' */
.icon-travel:before { content: '\e802'; } /* '' */
.icon-sports:before { content: '\e805'; } /* '' */
.icon-software:before { content: '\e80a'; } /* '' */
.icon-flag:before { content: '\e810'; } /* '' */
.icon-logout:before { content: '\e811'; } /* '' */
.icon-angle-down:before { content: '\e816'; } /* '' */
.icon-edit:before { content: '\e817'; } /* '' */
.icon-angle-up:before { content: '\e81c'; } /* '' */
.icon-add:before { content: '\e81d'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-user-add:before { content: '\e823'; } /* '' */
.icon-blog:before { content: '\e82e'; } /* '' */
.icon-eye:before { content: '\e82f'; } /* '' */
.icon-filter:before { content: '\e834'; } /* '' */
.icon-politics:before { content: '\e835'; } /* '' */
.icon-tractor:before { content: '\e83a'; } /* '' */
.icon-genealogy:before { content: '\e83b'; } /* '' */
.icon-smartphone:before { content: '\e803'; } /* '' */
.icon-homes:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\e83f'; } /* '' */
.icon-angle-left:before { content: '\e840'; } /* '' */
.icon-battery:before { content: '\e846'; } /* '' */
.icon-phone:before { content: '\e847'; } /* '' */
.icon-share-icon:before { content: '\e848'; } /* '' */
.icon-companies:before { content: '\e844'; } /* '' */
.icon-star:before { content: '\e827'; } /* '' */
.icon-menu:before { content: '\e845'; } /* '' */
.icon-login-profile:before { content: '\e84a'; } /* '' */
.icon-create-profile:before { content: '\e84b'; } /* '' */
.icon-direction:before { content: '\e84c'; } /* '' */
.icon-spin:before { content: '\e84d'; } /* '' */
.icon-weather:before { content: '\e84f'; } /* '' */
.icon-handshake:before { content: '\e850'; } /* '' */
.icon-reference:before { content: '\e851'; } /* '' */
.icon-homes-compare:before { content: '\e852'; } /* '' */
.icon-location:before { content: '\e853'; } /* '' */
.icon-reload:before { content: '\e854'; } /* '' */
.icon-grid:before { content: '\e842'; } /* '' */
.icon-list:before { content: '\e843'; } /* '' */
.icon-yes:before { content: '\e80f'; } /* '' */
.icon-no:before { content: '\e80c'; } /* '' */
.icon-settings:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e828'; } /* '' */
.icon-forward:before { content: '\e83e'; } /* '' */
.icon-attention:before { content: '\e829'; } /* '' */
.icon-dots:before { content: '\e841'; } /* '' */
.icon-twitter:before { content: '\e82c'; } /* '' */
.icon-facebook:before { content: '\e82b'; } /* '' */
.icon-gplus:before { content: '\e832'; } /* '' */
.icon-pinterest:before { content: '\e831'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-key:before { content: '\e822'; } /* '' */

.icon-txt-findthe:before { width: 4.72em; } 
.icon-txt-best:before { width: 2.32em; } 
.icon-txt-data:before { width: 2.84em; }
.icon-compare:before { width: 1.46em; } 
.icon-ftb { color: #0bf; }
.icon-spin:before { margin: 0; }

.icon-txt-findthebest:before,
.icon-txt-findthedata:before { 
  content: '\e839'; 
  width: 4.72em; 
  margin-right: 0.04em; 
  color: #4d4d4d; 
}
.white.icon-txt-findthebest:before { color:#fff; } 
.icon-txt-findthebest:after { 
  content: '\e80e'; 
  width: 2.32em; 
  margin-left: 0; 
  color: #0bf; 
}
.icon-txt-findthedata:after { 
  content: '\e83d'; 
  width: 2.84em; 
  margin-left: 0; 
  color: #1D6660; 
}
.icon-sort-h:before,
.icon-sort-h-az:before,
.icon-sort-h-za:before { content: '\e81b'; }
.icon-sort-h:after,
.icon-sort-h-az:after,
.icon-sort-h-za:after { content: '\e800'; margin-left: -0.73em; }
.icon-sort-h-az:after { color: #0bf; }
.icon-sort-h-za:before { color: #0bf; }