<p class="font-h about-list">
	<a class="caption-color no-underline" href="{{ site.baseurl }}/assets/samantha-zhang.pdf">
		<svg class="icon icon-resume"><use xlink:href="#icon-file"></use></svg>Resume
	</a>
	<br>
	<a class="caption-color no-underline" href="https://twitter.com/moyicat" target="_blank">
		<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>Twitter
	</a>
	<br>
	<a class="caption-color no-underline" href="https://medium.com/@moyicat" target="_blank">
		<svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>Medium
	</a>
	<br>
	<a class="caption-color no-underline" href="https://github.com/moyicat" target="_blank">
		<svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></span>GitHub
	</a>
	<br>
	<a class="caption-color no-underline" href="https://dribbble.com/moyicat" target="_blank">
		<svg class="icon icon-dribbble"><use xlink:href="#icon-dribbble"></use></svg></span>Dribbble
	</a>
	<br>
	<a class="caption-color no-underline" href="https://sketchfab.com/moyicat" target="_blank">
		<svg class="icon icon-sketchfab"><use xlink:href="#icon-sketchfab"></use></svg></span>SketchFab
	</a>
	<br>
	<a class="caption-color no-underline" href="mailto:i@samanthaz.me">
		<svg class="icon icon-mail"><use xlink:href="#icon-envelope"></use></svg>Email
	</a>
</p>