<div class="p demo-graphiq-video">
	<div class="selectors font-h">
		<div class="selector">
			<div class="selector-name">Layout: </div>
			<div class="btn-group">
				<div class="btn selected" data-class="slide-layout-1">
					01
				</div><div class="btn" data-class="slide-layout-2">
				02
				</div><div class="btn" data-class="slide-layout-3">
				03
				</div>
			</div>
		</div>
		<div class="selector">
			<div class="selector-name">Theme: </div>
			<div class="btn-group">
				<div class="btn selected" data-class="slide-theme-light">
				Light
				</div><div class="btn" data-class="slide-theme-dark">
				Dark
				</div><div class="btn" data-class="slide-theme-vintage">
				Vintage
				</div><div class="btn" data-class="slide-theme-mono">
				Mono
				</div>
			</div>
		</div>
	</div>
	<div class="slide slide-layout-1 slide-theme-light">
		<div class="slide-media" style="background-image:url(https://source.unsplash.com/UQaht0LBiYc/1600x900);"></div>
		<div class="slide-title">Lorem ipsum dolor sit&nbsp;amet</div>
	</div>
</div>