<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Samantha Zhang">
	<meta name="description" content="{{ site.title }} - {{ site.tagline}}">
	<meta name="keywords" content="{{ site.keywords }}">
	
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/og-img.png" />
	<meta property="og:description" content="{{ site.tagline}}" />
	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@moyicat">
	<meta name="twitter:creator" content="@moyicat">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.tagline}}">
	<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/og-img.png">

	<title>
		{{ site.title }} - {{ site.tagline }}
	</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets//favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets//favicon-16x16.png" sizes="16x16">
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
</head>