<div class="nav-wrap">
	<div class="section nav">
		<div class="column column--trio">
			<h2 class="no-style">
				<a class="no-color font-h nav-a nav-home" href="{{ site.baseurl }}/">{{ site.title }}</a>
			</h2>
		</div>
		<div class="column column--trio--two nav-collapse">
			<ul>
				<li class="nav-li">
					<a class="font-h no-underline nav-a" href="{{ site.baseurl }}/projects">Projects</a>
				</li>
				<li class="nav-li">
					<a class="font-h no-underline nav-a" href="{{ site.baseurl }}/articles">Articles</a>
				</li>
				<li class="nav-li">
					<a class="font-h no-underline nav-a" href="{{ site.baseurl }}/about">About</a>
				</li>
			</ul>
		</div>
	</div>
</div>