<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Samantha Zhang">
	<meta name="description" content="{{ page.desc}}">
	<meta name="keywords" content="{{ post.tags | default: site.keywords }}">
	
	
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.ogimg | default: site.ogimg }}" />
	<meta property="og:description" content="{{ page.desc}}" />

	{%- if page.categories -%}
	<meta property="og:type" content="article" />
	{%- else -%}
	<meta property="og:type" content="website" />
	{%- endif -%}
	
	{%- if page.ogtitle -%}
	<meta property="og:title" content="{{ page.ogtitle }}"/>
	<meta name="twitter:title" content="{{ page.ogtitle}}">
	{%- else -%}
	<meta property="og:title" content="{{ site.title }} - {{ site.tagline }}"/>
	<meta name="twitter:title" content="{{ site.title }} - {{ site.tagline }}">
	{%- endif -%}

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{ site.url }}">
	<meta name="twitter:creator" content="@moyicat">
	<meta name="twitter:description" content="{{ page.desc | default: site.tagline }}">

	<title>
		{%- if page.title == '' -%}
			{{ site.title }}
		{%- else if page.title -%}
			{{ page.title }} - {{ site.title }}
		{%- else if page.ogtitle -%}
			{{ page.ogtitle }} - {{ site.title }}
		{%- else -%}
			{{ site.title }}
		{%- endif -%}
	</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets//favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets//favicon-16x16.png" sizes="16x16">
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
</head>