<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.3/lodash.min.js"></script>
<script src="{{ site.baseurl }}/assets/responsive-nav.min.js"></script>
<script src="{{ site.baseurl }}/assets/jquery.deorphan.js"></script>
<script src="{{ site.baseurl }}/assets/unslider-min.js"></script>
<script src="{{ site.baseurl }}/site.js"></script>

<script src="https://use.typekit.net/bkp8wru.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>