<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2015-09-14-visualizing-the-world-s-knowledge.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506136166.34298402</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-23-finding-the-right-color-palettes-for-data-visualizations.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506136166.34298599</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-26-finding-the-best-free-fonts-for-numbers.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506136166.34298497</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-25-about-me.md</key>
			<dict>
				<key>lastModification</key>
				<real>506136189.30484003</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2016-12-25-graphq-video-editor - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506136181.67035699</real>
				<key>lastModification</key>
				<real>506136181.67035699</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2016-12-25-graphq-video-editor.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506154731.07252699</real>
				<key>lastModification</key>
				<real>506154731.07252699</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>2016-12-25-index.md</key>
			<dict>
				<key>lastModification</key>
				<real>506136189.30881602</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2016-12-25-my-story.md</key>
			<dict>
				<key>lastModification</key>
				<real>506136189.31432301</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2016-12-25-welcome-to-jekyll.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506136166.34298497</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-12-25-graphq-video-editor - 2.md</string>
		</array>
		<array>
			<string>2016-12-25-about-me.md</string>
		</array>
		<array>
			<string>2016-12-25-index.md</string>
		</array>
		<array>
			<string>2016-12-25-my-story.md</string>
		</array>
		<array>
			<string>2016-12-25-graphq-video-editor.md</string>
		</array>
		<array>
			<string>2015-09-14-visualizing-the-world-s-knowledge.markdown</string>
		</array>
		<array>
			<string>2016-12-25-welcome-to-jekyll.markdown</string>
		</array>
		<array>
			<string>2016-08-26-finding-the-best-free-fonts-for-numbers.markdown</string>
		</array>
		<array>
			<string>2015-11-23-finding-the-right-color-palettes-for-data-visualizations.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
