<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2015-08-01-graphiq-com-website.md</key>
			<dict>
				<key>lastModification</key>
				<real>506154823.92574799</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>54</integer>
				</dict>
			</dict>
			<key>2016-01-01-premade-io.md</key>
			<dict>
				<key>lastModification</key>
				<real>506154815.31423402</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>2016-08-01-graphq-video-editor.md</key>
			<dict>
				<key>lastModification</key>
				<real>506154908.39865202</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>2016-08-02-graphq-videos.md</key>
			<dict>
				<key>lastModification</key>
				<real>506155001.176175</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>2016-11-01-graphq-visualizations.md</key>
			<dict>
				<key>lastModification</key>
				<real>506334828.95120299</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>2016-12-25-about-me.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506136191.93637699</real>
				<key>lastModification</key>
				<real>506136191.93637699</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>2016-12-25-index.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506136191.95390701</real>
				<key>lastModification</key>
				<real>506136191.95390701</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>2016-12-25-my-story.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506136192.00581098</real>
				<key>lastModification</key>
				<real>506136192.00581098</real>
				<key>version</key>
				<dict>
					<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
					<integer>45</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-11-01-graphq-visualizations.md</string>
		</array>
		<array>
			<string>2016-08-02-graphq-videos.md</string>
		</array>
		<array>
			<string>2016-08-01-graphq-video-editor.md</string>
		</array>
		<array>
			<string>2015-08-01-graphiq-com-website.md</string>
		</array>
		<array>
			<string>2016-01-01-premade-io.md</string>
		</array>
		<array>
			<string>2016-12-25-about-me.md</string>
		</array>
		<array>
			<string>2016-12-25-index.md</string>
		</array>
		<array>
			<string>2016-12-25-my-story.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3efee22cfadc6bd52f7aacd27ba52da3191e594ae4df8fae619f6efcd33d62dd</key>
			<integer>69</integer>
		</dict>
	</dict>
</dict>
</plist>
